doctype html
html
  head
    title Bảo - dev
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
    script(src='https://unpkg.com/axios/dist/axios.min.js')
  body
    .container
      h2.text-primary Thêm nhà hàng
      form(method='POST' action='/dev/addRes')
        .form-group
          label(for='restaurantName') Tên nhà hàng:
          input#restaurantName.form-control(type='text' name='restaurantName' required='')
        .form-group
          label(for='cars') Loại nhà hàng:
          select#res_type(name='type' style='width: 100px;')
            option.dropdown-item(value='null') Chọn
            option.dropdown-item(value='606c29b97141a71498bd32d8') Quán bún, phở, hủ tiếu,...
            option.dropdown-item(value='606c29c27141a71498bd32d9') Quán cơm
            option.dropdown-item(value='606c29df7141a71498bd32da') Coffe, trà sữa,...
            option.dropdown-item(value='606c29fb7141a71498bd32db') Đồ ăn nhanh(bánh mỳ, fast foods,...)
            option.dropdown-item(value='606c2a067141a71498bd32dc') Đồ ăn vặt
        .form-group
          label(for='email') Email:
          input#email.form-control(type='email' name='email')
        .form-group
          label(for='Địa chỉ') Địa chỉ:
          input#address.form-control(type='text' name='address')
        .form-group
          label(for='#addressx') Toạ độ x( 16......):
          input#addressx.form-control(type='text' name='address')
        .form-group
          label(for='#addressy') Toạ độ y( 108......):
          input#addressy.form-control(type='text' name='address')
        .form-group
          label(for='Điện thoại') Điện thoại:
          input#phone.form-control(type='text' name='phone')
        button#btn_submit.btn.btn-primary(type='submit') Submit
