.notification {
    color: #BBBBBB;
    text-decoration: none;
    padding: 15px 26px;
    position: relative;
    display: inline-block;
}
  
.notification .badge {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: red;
    color: white;
}
  
.avatar{
    padding: 7px; 
    border-radius:50%; 
    -moz-border-radius:50%; 
    -webkit-border-radius:50%;
    width: 80px;
    height: 80px;
}
  
.user-container{
    display: none;
    background-color: rgb(255, 255, 255);
    width: 280px;
    position: absolute;
    z-index: 10;
    right: -5px;
    top: 126px;
    box-shadow: rgb(0 0 0 / 5%) 0px 1px 3px;
    font-family: sans-serif;
    border: 1px solid rgb(234, 236, 238);
    padding: 16px;
    flex-direction: column;
}
.show{
    display: block;
}

.show-flex{
    display: flex;
}

.user-container a {
    text-decoration: none;
    padding-bottom: 8px; 
}
.accountInfo-modal{
    padding-top: 10px;
}

.accountInfo-modal-content{
    width: 80%; /* Could be more or less, depending on screen size */
}

.changepass-modal {
    padding-top: 60px;
}

.changepass-modal-content {
    width: 60%;
}

.addProduct-modal{
    padding-top: 30px;
}

.addProduct-modal-content{
    width: 60%;

}

.billDetail-modal{
    padding-top: 20px;
    overflow: scroll;
}

.billDetail-modal-content{
    width: 70%;

}

.createDiscount-modal {
    padding-top: 30px;
}
.createDiscount-modal-content{
    width: 50%;
}