.notification {
    color: #BBBBBB;
    text-decoration: none;
    padding: 15px 26px;
    position: relative;
    display: inline-block;
}
  
.notification .badge {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: red;
    color: white;
}
  
.avatar{
    padding: 7px; border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%
}
  
.user-container{
    display: none;
    background-color: rgb(255, 255, 255);
    width: 280px;
    position: absolute;
    z-index: 10;
    right: -5px;
    top: 126px;
    box-shadow: rgb(0 0 0 / 5%) 0px 1px 3px;
    font-family: sans-serif;
    border: 1px solid rgb(234, 236, 238);
    padding: 16px;
    flex-direction: column;
}
.user-container a {
    text-decoration: none;
    padding-bottom: 8px; 
}
.accountInfo-modal{
    padding-top: 10px;
}

.accountInfo-modal-content{
    width: 80%; /* Could be more or less, depending on screen size */
}

.changepass-modal {
    padding-top: 60px;
  }

.changepassmodal-content {
    width: 60%;
}
