/* The Modal (background) */
.login-modal {
  padding-top: 60px;
}
  
/* Modal Content/Box */
.login-modal-content {
  width: 40%; /* Could be more or less, depending on screen size */
}
  
.register-modal{
  position: fixed  ; /* Stay in place */
  overflow: scroll;
  padding-top: 10px;
}

.register-modal-content{
  width: 80%;
}

.resetPass-modal{
  padding-top: 60px;
}

.resetPass-modal-content {
  width: 40%;
}


  