<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../css/account_changepass.css" type="text/css"><!------>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <title>Food Offer</title>
</head>

<body>
  <h2>Modal Login Form</h2>
  <button onclick="document.getElementById('accountChangePass').style.display='block'" style="width:auto;">Login</button>
  <div class="modal" id="accountChangePass">
    <form class="modal-content animate" action="/teet/login" enctype="multpart/form-data" method="post">
      <div style="background-color:#f1f1f1; text-align: center;">
        <label class="text-primary"><b style="font-size: xx-large;">Đổi mật khẩu</b></label>
      </div>
      <div class="container">
        <div class="form-group">
          <label for="email"><b>Email đăng nhập</b></label>
          <input id="email" class="form-control" type="email" name="email" placeholder="Nhập email đăng nhập" required>
        </div>
      </div>

      <div class="form-group" style="padding: 32px 48px 32px 48px">
        <span>
          <button id="btn_fogotPassword" class="btn btn-primary" type="submit">Xác nhận</button>
        </span>
        <span style="float: right">
          <button class="btn btn-danger" type="button" onclick="document.getElementById('accountChangePass').style.display='none'">Hủy bỏ</button>
        </span>
      </div>
      <div class="container" style="background-color:#f1f1f1"></div>
    </form>
  </div>
</body>
</html>