<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../css/login.css" type="text/css">
  <title>Food Offer</title>
</head>

<body>
  <h2>Modal Login Form</h2>
  <button onclick="document.getElementById('login_dialog').style.display='block'" style="width:auto;">Login</button>
  <div class="modal" id="login_dialog">
    <form class="modal-content animate" action="/teet/login" method="post">
      <div style="background-color:#f1f1f1; text-align: center;">
        <label class="text-primary"><b style="font-size: xx-large;">Đăng nhập</b></label>
      </div>

      <div class="container">
        <div class="form-group">
          <label for="email"><b>Email</b></label>
          <input id="email" class="form-control" type="email" name="email" placeholder="Nhập Password" required>
        </div>

        <div class="form-group">
          <label for="password"><b>Password</b></label>
          <input id="password" class="form-control" type="password" name="password" placeholder="Nhập Password" pattern="[A-Za-z0-9]{8,30}" title="Mật khẩu không chứa ký tự đặc biệt, gồm 8-30 ký tự" required>
        </div>

        <div class="form-group form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="remember"> Remember me
          </label>
        </div>

        <div class="form-group" style="padding-left: 48px; padding-right: 48px;"><span>
            <button id="btn_login" class="btn btn-primary" type="submit">Login</button></span><span style="float: right">
            <button class="btn btn-danger" type="button" onclick="document.getElementById('login_dialog').style.display='none'">Cancel</button></span></div>
      </div>
      <div class="container" style="background-color:#f1f1f1"><span>Chưa có tài khoản <a href="#">Đăng ký?</a></span><span style="float: right"><a href="#">Quên mật khẩu?</a></span></div>
    </form>
    <img src="./logo.png" alt="">
  </div>
  <script src="../../js/common.js"></script>
</body>
</html>